{% extends 'base.html' %}
{% block title %}Get Started{% endblock title %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <div class="text-center">
                <h1>Welcome to MyTodo</h1>
                <p class="lead">Get organized and stay on track with your tasks.</p>
                <a href="{{ url_for('signup') }}" class="btn btn-primary">Start Using MyTodo</a>
            </div>
        </div>
    </div>
</div>
{% endblock body %}

{% block footer %}
<footer class="footer">
  <div class="container">
      <p>&copy; 2023 MyTodo App - Developed by Ram Rajurkar</p>
      <div class="social-links">
          <a href="https://www.instagram.com/ram_rajurkar_007/" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a>
          <a href="https://github.com/RamRajurkar" target="_blank" title="GitHub"><i class="fab fa-github"></i></a>
          <a href="https://www.linkedin.com/in/ram-rajurkar-647b90258/" target="_blank" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
          <a href="mailto:ramrajurkar2020@gmail.com" target="_blank" title="Email"><i class="fas fa-envelope"></i></a>
          <!-- Add more social media links as needed -->
      </div>
  </div>
</footer>
{% endblock footer %}
